body {
	background-image: url("https://i.imgur.com/u5vsHpg.jpg");
    background-repeat: no-repeat;
	background-size: cover; 
	background-position: center center;
    background-attachment: fixed;
	font-family: courier;
	color: #ffffe6;
	font-size: 22px;
	margin: 15px;
}
h1 {
	color: black;
	font-size: 40px;
	margin: 15px 0;
}
/*input {
	padding: 10px;
	font-size: 20px;
	color: black;
}*/
.results li {
	padding: 15px;
	border-bottom: 1px solid grey;
	clear: left;
}

.result-list-header {
	height: 150px;
}

.results img {
	float: left;
	height: 120px;
	margin-right: 40px;
}

.content-left {
	width:25%;
	float:left;
}

.content-right {
	width:75%;
	float:left;
}

.search-list-item p {
	margin-bottom: 10px;
}

.well {
	background: #4682B4;

}